/* Box Model Hack */
* {
  box-sizing: border-box;
  padding-inline-start: 0;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {
background: url(images/img1.jpg);
background-repeat: no-repeat;
background-size: cover;

}

header > nav{
  width: 100%;
  text-align: right;
  padding-right: 20px;
  background-color: orange;
  border-radius: 20px;
}

header > nav li{
  display: inline-block;
  padding: 10px;
}

header > nav a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 700;
}

main{
  width: 100%;
  padding-left: 60px;
}

main > h1{
  width: 60%;
  font-size: 60px;
  margin: 0;
}

.first{
  padding-top: 100px;
}

main ul li{
  display: inline-block;
  padding: 0 50px 100px 0 ;
  margin: 20px 0 20px 0;
}

main ul{
  margin: 0;
}

main ul a{
  text-decoration: none;
  color: black;
}

input{
  width: 300px;
  margin-top: 20px;
  padding: 10px 0 10px 5px;
  border-radius: 5px 0 0 5px;
  border: 1px solid grey;
}

button{
  padding: 10px;
  background-color: orange;
  color: white;
  border: 1px solid orange;
  border-radius: 0 5px 5px 0;
}

header + section h6,
header + section h2,
header + section p,
header + section a{
  margin-left: 30%;
  margin-right: 25%;
}

.sec1{
  background: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,1)), url(../images/img2.jpg);
  background-repeat: no-repeat;
  background-position-x: left;
  background-size: 400px auto;
  
}
.second{
  background: linear-gradient(90deg, rgba(255,255,255,1), rgba(255,255,255,0)), url(../images/img3.jpeg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 480px auto;
  padding-bottom: 100px;
}

.sec1 h6{
  color: orange;
  font-size: 12px;
  padding-top: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.sec1 a{
  text-decoration: none;
  border: 1px solid orange;
  padding: 10px;
  background-color: orange;
  border-radius: 10px;
  color: white;
  font-weight: 700;
}

.sec1 p{
  line-height: 1.3;
}

.sec1 p + p{
  padding-bottom: 15px;
}

.sec1 h2{
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 0;
}
.order {
  text-align: center;
  background-color: #F0F4F5;
}

.order h3,
.order h6{
  margin: 0;
}

.order h6{
  padding-top: 40px;
  color: orange;
  font-size: 12px;
}

.order h3{
  padding-top: 5px;
  font-size: 60px;
}

.order li{
  display: inline-block;
}

.order a{
  text-decoration: none;
  padding: 0 20px;
  color: black;
}

.order img{
  width: 20%;
  padding: 20px;
}

.order a:hover{
  color: orange;
  border-bottom: 1px solid orange;
}

.open h6,
.open h3,
.open i + span,
.open i + span + span,
.open i{
  text-align: center;
  display: block;
  margin: 0;
}

.open h6{
  padding: 60px 0 10px 0;
  color: orange;
  font-size: 12px;
}

.open h3{
  font-size: 50px;
  padding-bottom: 20px;
}

.open{
  background: linear-gradient(rgba(255,255,255,.75), rgba(255,255,255,.75)), url(https://www.craftcoffeeguru.com/wp-content/uploads/2020/03/mug.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
}

.open section{
  width: 50%;
  float: left;
  text-align: center;
}

.open section span{
  display: block;
  padding-bottom: 12px;
}
.open i{
  font-size: 36px;
  color: orange;
}

.open img{
  width: 70%;
  margin: 0 auto;
  display: block;
  padding: 20px 0 80px 0;
}

.open i + span + span{
  color: orange;
  font-size: 20px;
  font-weight: 700;
  padding-top: 5px;
}

.testimonials{
  text-align: center;
}

.testimonials h6,
.testimonials h3{
  margin: 0;
}

.testimonials h6{
  padding: 60px 0 10px 0;
  color: orange;
  font-size: 12px;
}

.testimonials h3{
  font-size: 50px;
  padding-bottom: 30px;
}

.testimonials img{
  border-radius: 100%;
}

.testimonials img + h6{
  padding: 5px 0 0 0;
  color: black;
  font-size: 25px;
}

.testimonials img{
  display: block;
  margin: 0 auto;
}

.testimonials p{
  line-height: 1.5;
  font-style: italic;
}
footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
